<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/structure/head.ejs') %> 

</head>
<body class="host_version"> 

    <%- include ('partials/structure/login.ejs') %> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">

		<%- include ('partials/structure/nav.ejs') %>
        
	</header>
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>About Us<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="lead ps-4 aboutFont">
                        Mike is a 10 year Navy veteran with multiple forward deployed tours abroad. Background in human resource management. Got his start in fullstack development with the asperations to learn more about crypto currency and Blockchain mechanics and development.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dicta reiciendis facilis ipsum sapiente, ducimus qui molestias ab veniam doloremque quibusdam eos eveniet labore dolorem cumque saepe temporibus aliquam obcaecati?

                    </p>
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
						<img src="images/mike will.jpeg" width="120%" alt="">
					</div>
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
						<img src="images/jose tollinchi.jpeg" width="120%" alt="">
					</div>
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="lead ps-4 aboutFont">
						Jose is an 21 year retired Army Veteran. Jose is a recognized expert in data analytics and blockchain technology and develpoment. Getting his start in software development by teaching himself the coding language C++. He is dedicated to the further development of blockchain and web3 development. 
						
						amet, id voluptatibus mollitia aut perferendis tempore? Nobis cupiditate nesciunt amet ratione soluta distinctio aut similique mollitia alias!
						Magnam eveniet inventore voluptates accusantium et architecto voluptas omnis officia incidunt laudantium neque nam possimus, nihil deserunt ab eligendi assumenda sit enim. Numquam, ullam accusantium laudantium nisi dolorum quo placeat!
					</p>
                </div><!-- end col -->
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="lead ps-4 aboutFont">
                        Syreeta Greene is a retired Army Veteran. She is a native of Texans, and now a resident of Atlanta, GA. Syreeta graduated from the renowned Digitalcrafts, class 07/21 as a  full stack developer.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dicta reiciendis facilis ipsum sapiente, ducimus qui molestias ab veniam doloremque quibusdam eos eveniet labore dolorem cumque saepe temporibus aliquam obcaecati?

                    </p>
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
						<img src="images/rio.jpeg" width="120%" alt="">
					</div>
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
						<img src="images/Brandon.jpeg" width="120%" alt="">
					</div>
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="lead ps-4 aboutFont">
						Brandon Stinson is a 10 year Navy Veteran. He is a native of Chicago, and now a resident of Dallas, TX. Brandon graduated from the renowned Digitalcrafts, class 07/21 as a  full stack developer.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dicta reiciendis facilis ipsum sapiente, ducimus qui molestias ab veniam doloremque quibusdam eos eveniet labore dolorem cumque saepe temporibus aliquam obcaecati?
					</p>
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>History</h3>
						<div class="tr-pa">H</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <%- include ('partials/structure/footer.ejs') %>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

</body>
</html>